:root {
    --Platinumcolor: #E6E6E6 ;
    --Almondcolor: #FFEAD0 ; 
    --Coralcolor: #FF8552 ;
    --Taupeecolor: #96616B ;
    --UltraRedcolor: #F76F8E ;
    --Purplecolor: #7F055F ; 
    --Aquamarinecolor: #85FFC7;
    --Skobeloffcolor: #297373 ;
    --RickBlackcolor: #113537 ;
    --Charcoalcolor: #37505C ;
    --Graycolor: #4A525A ;
    --Jetcolor: #39393A ; 
    --Blackcolor: #07070A ;
  }

  .header-container{
    width: 100%;
    overflow: hidden;
    height: 250px;
  }

  .header-banner{
    width: 100%;
  }

  .header-h1{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    top: -20px;
    left: 54%;
    font-size: 97px;
    text-shadow: 12px 12px 6px var(--Charcoalcolor);
  }